@import 'app/assets/styles/variables.scss';
.text-field {
  display: block !important;
  max-width: 370px !important;

  input {
    height: 38px;
    font-size: 14px;
    padding: 0px 10px;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    max-width: 283px !important;
    min-width: auto;
    height: 40px;
    outline: none;
  }
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline .Mui-focused {
  border-color: $primary-purple !important;
}
