@import './variables.scss';

* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.x-button {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  white-space: nowrap;
  padding: 0 20px !important;
  height: 38px !important;
  border-radius: 6px;
  text-transform: none !important;
  min-width: 100px;
  background-color: $primary-purple;
  border: none;
  color: $white;
  width: 100%;
  max-width: 305px;
  cursor: pointer;
  &:hover {
    background-color: #5b45ce;
  }
  @media (max-width: 767px) {
    padding: 0 16px !important;
    height: 34px !important;
  }
}
.text-primary-dark {
  color: $navy;
}

.text-primary-blue {
  color: $primary-2;
}

.py-20 {
  padding: 20px 0px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.m-10 {
  margin: 10px !important;
}
.p-10 {
  padding: 10px;
}

span.text-field-label {
  color: $label-color !important;
  margin: 10px 0px !important;
  font-size: 12px;
  font-weight: 500;
}
.text-center {
  text-align: center;
}

.mt-10 {
  margin-top: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.my-10 {
  margin: 10px 0px !important;
}

.mb-10 {
  margin-bottom: 10px;
}

.font-sm {
  font-size: 12px;
}
.font-md {
  font-size: 14px;
}
.font-bold {
  font-weight: 600;
}

.color-grey {
  color: $secondary-grey;
}

.MuiFormHelperText-contained.Mui-error {
  margin-left: 0;
}

.app-name {
  font-size: 20px;
  font-weight: 600;
}
