@import 'app/assets/styles/variables.scss';
.x-button {
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  white-space: nowrap;
  padding: 0 20px !important;
  height: 38px !important;
  border-radius: 6px;
  text-transform: none !important;
  min-width: 100px;
  background-color: $primary-purple;
  border: none;
  color: $white;
  width: 100%;
  max-width: 305px !important;
  @media (max-width: 767px) {
    padding: 0 16px !important;
    height: 34px !important;
  }
}
