@import 'app/assets/styles/variables.scss';

.text-navy {
  color: $navy !important;
}

.title-message-container {
  // padding: 58px 0 0 0;
}

.message-info {
  margin-bottom: 45px !important;
  margin-top: 14px !important;
}
