@import 'app/assets/styles/variables.scss';
.step-container {
  .step {
    display: inline-block;
    position: relative;
    text-align: center;
    height: 30px;
    width: 30px;
    font-size: 12px;
    border-radius: 50%;
    border: 1px solid $light-blue;
    .step-label {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    transition: 1s ease-in;
    &.colored {
      background-color: $primary-purple;
      color: $white;
      border-color: $primary-purple;
    }
  }

  .path {
    height: 2px;
    width: 27px;
    position: relative;
    background: $light-blue;
    display: inline-block;
    bottom: 3px !important;

    .progress-track {
      width: 27px;
    }
  }
  .path span {
    display: block;
    height: 100%;
  }

  .completed {
    background-color: $primary-purple;
    -webkit-animation: progressBar 400ms ease-in-out;
    -webkit-animation-fill-mode: forwards;
  }
  .started {
    width: 14px;
    background-color: $primary-purple;
    -webkit-animation: started 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
  }

  @keyframes started {
    0% {
      width: 0%;
    }
    80% {
      width: 0%;
    }
    100% {
      width: 50%;
    }
  }

  @keyframes progressBar {
    0% {
      width: 50%;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes progressBar {
    0% {
      width: 50%;
    }
    100% {
      width: 100%;
    }
  }

  @media only screen and (min-device-width: 280px) and (max-device-width: 320px) {
    .step-wrapper {
      width: 25% !important;
    }
    .path {
      width: 12px;
      .progress-track {
        width: 12px;
      }
    }
  }
}
