@import 'app/assets/styles/variables.scss';
.step-container {
  .step {
    display: inline-block;
    position: relative;
    text-align: center;
    height: 30px;
    width: 30px;
    font-size: 12px;
    border-radius: 50%;
    border: 1px solid $light-blue;
    .step-label {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &.colored {
      background-color: $primary-purple;
      color: $white;
      border-color: $primary-purple;
    }
  }
  .step-marker {
    width: 25px;
    height: 0;
    border: 1px solid #d4d4d4;
    margin: 3px 0px;
    display: inline-block;
    &.colored {
      border-color: $primary-purple;
    }
    transition: 300ms ease-in-out;
  }
}
