@import 'app/assets/styles/variables.scss';
.app {
  // position: absolute;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // top: 0;
  // right: 0;
  // bottom: 0;
  // left: 0;
  background-color: #dbdfef6e;
  min-height: 100vh;
  .main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    max-width: 1280px;
    height: auto;
    min-height: 90vh;
  }
}
